<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esh_tech.aviram.barbershop">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".data.MyGlobalUser"
        android:allowBackup="true"
        android:icon="@drawable/scissors1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".views.WorkingHoursActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.MainActivity"
            android:label="@string/title_main_activity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".views.UserEmailActivity"
            android:label="@string/title_user_email_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.LoginActivity"
            android:label="@string/title_login_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.CustomerActivity"
            android:label="@string/title_customer_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.SettingsActivity"
            android:label="@string/title_settings_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.StockActivity"
            android:label="@string/title_stock_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.UserRegistrationActivity"
            android:label="@string/title_user_registration_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.SplashScreenActivity"
            android:label="@string/title_working_hours_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.FillCustomersActivity"
            android:label="@string/title_fill_customers_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.TimeAndFee"
            android:label="@string/time_and_fee_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.smsSettings"
            android:label="@string/title_sms_settings_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.CustomersListActivity"
            android:label="@string/title_customers_list_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.BalanceActivity"
            android:label="@string/title_balance_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AppointmentListActivity"
            android:label="@string/title_appointment_list_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.UserPasswordActivity"
            android:label="@string/title_user_password_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.NewCustomerActivity"
            android:label="@string/title_new_customer_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.NewAppointmentActivity"
            android:label="@string/title_new_appointment_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.SendMessageActivity"
            android:label="@string/title_send_sms_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.UserProfileActivity"
            android:label="@string/title_user_profile_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AboutActivity"
            android:label="@string/title_about_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.BarbershopActivity"
            android:label="@string/title_barbershop_activity"
            android:screenOrientation="portrait" />

        <activity android:name=".views.CustomersServiceActivity"></activity>
        <activity android:name=".views.GenerateReportActivity"></activity>

        <service
        android:name=".data.AlarmService"
        android:enabled="true"
        android:exported="true" />
    </application>

</manifest>