<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esh_tech.aviram.barbershop">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />



    <application
        android:name=".MyGlobalUser"
        android:allowBackup="true"
        android:icon="@drawable/scissors1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".CustomerActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".StockActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".UserRegistrationActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".WorkingHoursActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".FillCustomersActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".TimeAndFee"
            android:screenOrientation="portrait" />

        <activity android:name=".smsSettings"
            android:screenOrientation="portrait" />

        <activity android:name=".CustomersListActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".BalanceActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".AppointmentListActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".UserPasswordActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".NewCustomerActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".NewAppointmentActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".SandMessageActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".UserProfileActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".BarbershopActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".AlarmService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>